<%- include("../partials/head") %>
<%- include("../partials/header") %>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% skillsArray.forEach((skill) => { %>
        <li>
          <%= skill %>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
